@CHARSET "ISO-8859-1";
html, body {height: 100%;}
head {background-color: #FFFFFF;}
body {background-color: #FFFFFF; font-size: 12px; }
#divLogoHead {
	width: 100%;
	background: #408080;
	height: 50px;
}
#titulo {
	font-family: arial-black;
	font-size: 30px;
	color: Green;
	padding-top: 8px;
	padding-right: 10px;
	float: right;
}

.panel {
	background: transparent;
	font-size: 12px;
	border-color: transparent;
}

.required { color: red; font-size: 15px; }

.ui-widget {
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	border: none;
}
.ui-panel {
    padding: 0;
}		
.ui-widget .ui-widget {
	font-size: 12px;
}

.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button{
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
}
.migalhaPao {
	margin-left: 20px;
}
.ui-selectonemenu-item:hover {
	background: #8ee01f; 
}
.ui-selectonemenu-panel, .ui-datepicker-calendar{
	border: 1px solid grey;
}
.ui-widget-header {
	background: #e6e6e3;
	border: 0;	
}
.ui-datepicker-today {
	background: red;
}
.ui-datepicker-today a{
	color: #FFFFFF;
}
.ui-corner-all {
	border-radius: 0px;
}
.ui-datepicker{
	width: 18em;
}